html{
	overflow-x: visible;
}
/*header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}
#header-nav{
    padding-top: 15px;
}
#header-nav a{
    width: 100%;
    height: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0 10px;
}
#header-features{  
    padding-top: 15px;
}
#header-features a{
    width: 100%;
    height: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-right: 5px;
}
#header-features a:nth-child(1){
    margin-right: 20px;
}
#header-features a i{
    font-size: 25px;
    margin-right: 5px;
}*/
#question {
    width:100%;
    height: 44px;
    border-bottom: 1px solid darkgrey;
    line-height: 44px;
    margin-top: 60px;
}
#question p{
    font-size: 12px;
    text-align: center;
}
#main{
    width: 100%;
    width: 100%;
    background: url(../img/loginAndregistered/fond-d.jpg) no-repeat right top;
    background-attachment: fixed;
    padding-bottom: 60px;
    min-height: 800px;
}
#main_child{
	width: 100%;
	height: 100%;
	background: url(../img/loginAndregistered/fond-g.jpg) no-repeat left top;
	min-height: 800px;
}
#main_goback{
    width: 974px;
    height: 61px;
    margin: 0 auto;
    padding-top: 10px;
}
#main_goback a{
    display: inline-block;
    height: 30px;
}
#main_goback a img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
#main_goback a span{
    display: inline-block;
    width: 100px;
    height: 18px;
    font-size: 12px;
    color: darkgrey;
}
#my{
    width: 100%;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    padding: 10px 0 40px 0;
    font-family:"微软雅黑";
}
#main_MyAccount{
    width: 308px;
    margin: 0 auto;
}
#oldMessage{
    display: inline-block;
    height: 84px;
    width: 100%;
    line-height: 84px;
    color: black;
    font-size: 16px;
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;
}
#NewRegistered{
    display: inline-block;
    width: 100%;
    height: 84px;
    line-height: 84px;
    color: black;font-size: 16px;
    border-bottom: 1px solid darkgrey;
}
#login_input p{
	height: 16px;
	color: red;
	font-size: 12px;
}
#changeOld img{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
#changeNew img{
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
label{
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 15px;
}
.bu{
    color: red;
}
#form_login{
    display: none;
}
input{
    display: inline-block;
    width: 280px;
    height: 20px;
    padding: 10px 9px 10px 9px !important;
    border: 1px solid darkgrey;
}
#forgetpassword{
    font-size: 12px;
    color: darkgrey;
    text-decoration: underline;
    float: right;
    padding-top: 3px;    
}
#forgetpassword:hover{
    text-decoration:none;
}
#login_btn{
    width: 100%;
    height: 42px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 20px;
    border: 0;
    margin-top: 30px;
    transition: 0.5s;
}
#login_btn:hover{
    background-color: #c0c3c6;
    color: black;
}
#registered_input p{
    height: 16px;
    font-size: 12px;
    color: red;
}
#registered_input #hh{
    font-size: 14px;
    font-weight: 800;
    padding-top: 10px;
}
#registered_input span{
    color: red;
}
#new_sex{
    display: inline-block;
    width: 300px;
    height: 42px;
}
#new_sex option{
    height: 20px;
    color: darkgray;
    background-color: drakgrey;
}
#year{
    width: 152px;
    height: 41px;
}
#mounth{
    width: 60px;
    height: 41px;
    margin: 0 12px;
}
#days{
    width: 60px;
    height: 41px;
}
#provens{
    width: 300px;
    height: 42px;
}
#city{
    width: 300px;
    height: 42px;
}
#registered_input{
    display: none;
}
#checkbox{
	width: 100%;
}
#checkboxaggre{
	width: 15px;
	height: 15px;
	margin-top: 20px;
	margin-right: 5px;
}
#checksubscription{
	width: 15px;
	height: 15px;
	margin-top: 20px;
	margin-right: 5px;
}
#newregisteredsubmit:hover{
	background-color:  #c0c3c6;
	color: black;
}
#newregisteredsubmit{
	width: 100%;
	style:height:30px;
	margin-top: 25px;
	background-color: black;
	color: white;
	line-height: 30px;
	border: none;
	transition:0.5s;
	margin-bottom: 20px;;
}
/*#footerMenu{
	padding: 40px 0 40px 0;
	border-top: 1px solid darkgray; 
	width: 100%;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
#message{
	 width: 76px;
	 height: 39px;
	 background-color: black;
	 color: white;
	 border: none;
	 margin-top: 5px;
	 transition: 0.5s;
}
#message:hover{
	background-color: darkgray;
	color: black;
	
}
#china-auh{
	padding-left: 20px;
	display: block;
}
#copyright{
	float: left;
}
#copyright a{
	color: darkgray;
	font-size: 12px;
	padding-left: 10px;
}
#copyright a:hover{
	color: black;
}
#footerlist a{
	color: darkgrey;
	font-size: 12px;
	float: left;
	margin-left: 30px;
}
#footerlist a:hover{
	color: black;
}
#footerlist{
	margin-left: 50px;
}*/
