#top_nav{
	width: 100%;
	height: 55px;
	background-color: white;
	text-align: center;
	position:fixed;
	top: 60px;
	left: 0;
	box-shadow: 0px 4px 15px darkgrey;
}
#top_nav a{
	line-height: 55px;
	text-align: center;
	font-size: 14px;
	color: darkgray;
	padding: 0 15px;
}
#top_nav a:hover{
	color: black;
}
#MainProduct{
	width: 100%;
}
#ManPerfumeList{
	width: 80%;
	margin: 120px auto;
	padding-top:20px ;
}
#address p{
	text-align: left;
	font-size: 12px;
	color: darkgray;
}
#address p a{
	color:darkgray;
}
#address p a:hover{
	text-decoration:underline;
}
#ManPerfumeList h1{
	text-align: center;
	margin-bottom: 50px;
	font-weight: normal;
}
.ManperfumeProductList{
	width: 100%;
	overflow: hidden;
}
#ManPerfumeList button{
	border: none;
	background-color: black;
	text-align: center;
	width: 100px;
	height: 40px;
	line-height:40px ;
}
#ManPerfumeList button a {
	display:inline-block;
	width: 100%;
	height: 100%;
	color: white;
}
#ManPerfumeList button:hover{
	background-color: darkgray;
	color: black;
}
#ManPerfumeList img{
	width: 48%;
	height: 50%;
	padding: 0 1%;
}
.rowlist{
	padding: 0 1%;
	float: left;
	width: 48%;
	overflow: hidden;
	position: relative;
	margin-bottom: 120px;
}
.message{
	padding: 0 1%;
	width: 48%;
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 12px;
}
.message h3{
	margin-bottom: 10px;
}
.message p:nth-child(2){
	margin: 0px 0 25px 0;
}
.message p:nth-child(3){
	margin-bottom: 20px;
}
